<div class="content-section">
  <h2>Password Reset Confirm</h2>
  <hr />
  <p>Please enter your new password.</p>
  <form method="POST">
    <input
      type="password"
      name="new_password1"
      id="new_password1"
      placeholder="new password"
    />
    <input
      type="password"
      name="new_password2"
      id="new_password2"
      placeholder="confirm new password"
    />
    {% comment %}
    <button class="btn btn-outline-info" type="submit">Reset password</button>
    {% endcomment %}
  </form>
</div>
