{% comment %} {% extends "main/header.html" %} {% load crispy_forms_tags %} {%
block content {% endcomment %} {% comment %} %} {% endcomment %}
<div class="content-section">
  <h2>Reset Password</h2>
  <hr />
  <p>
    Have you forgotten your password? Please enter the serial number on your
    device.
  </p>
  <form method="POST">
    <input type="text" name="serial_number" id="serial_number" placeholder="serial_number" />
    {% comment %} <button class="btn btn-outline-info" type="submit">Send</button> {% endcomment %}
  </form>
</div>